<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" cacheResultFile=".phpunit.cache/test-results" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/logs/html-coverage" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
  <php>
    <!-- Watch for deprecations, but only fail on direct deprecations, not indirect ones. -->
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0"/>
  </php>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/src</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="build/test-results/results.xml"/>
  </logging>
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
